.answer-list{
    width: 6.4rem;
    padding-bottom: .7rem;
}
.answer-list .item{
    position: relative;
    width: 6rem;
    padding: .2rem;
    background: #fff;
    margin-bottom: .2rem;
}
.answer-list .item .info{
    overflow: hidden;
}
.answer-list .item .info img{
    width: .52rem;
    height: .52rem;
    border-radius: 100%;
    vertical-align: middle;
}
.answer-list .item .info span{
    font-size: .28rem;
    color: #999;
}
.answer-list .item .ask{
    font-size: .32rem;
    width: 6rem;
    padding-top: .1rem;
}
.answer-list .item .tags{
    position: absolute;
    font-size: .36rem;
    line-height: .36rem;
    color: #00c11e;
    top: .5rem;
    right: .2rem;
    margin-top: -.28rem;
}
.answer-list .item .outdate{
    color: red;
}

/*个人设置*/
.top-t{
    overflow: hidden;
}
.user-info-display .sign{
    width: 5.8rem;
    margin: 0 auto;
    overflow: hidden;
    padding-top: .2rem;
    font-size: .28rem;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user-info-display .sign textarea{
    width: 5.6rem;
    height: .5rem;
    border: 1px solid #eee;
    color: #666;
    padding: .1rem;
    height: 1rem;
    font-size: .28rem;
    box-sizing: border-box;
}
.user-info-display .info .row input[type=text]{
    border: 1px solid #eee;
    width: 3.2rem;
    height: .3rem;
    color: #666;
    padding: .1rem;
    font-size: .28rem;
}

.user-label{
    width: 6rem;
    padding: .2rem;
    background: #fff;
    margin-top: .2rem;
}
.user-label .tags{
    overflow: hidden;
}
.user-label .tags .add{
    padding: .08rem .2rem;
    text-align: center;
    float: left;
    border: 1px dashed #dcdcdc;
    font-size: .28rem;
    line-height: .28rem;
    color: #c0c0c0;
    background: #fff;
    font-weight: 700;
    color: #a6a9ac;
    margin-right: .1rem;


}
.user-label .l-list{
    background: #fff;
    overflow: hidden;
}
.user-label .l-list .item{
    margin-bottom: .2rem;
    font-size: .28rem;
    border: 1px solid #01c36c;
    border-radius: 2px;
    margin-right: .1rem;
    color: #666;
    line-height: .28rem;
    float: left;
    padding: .1rem .3rem;
    text-align: center;
}
.user-label .l-list .input{
    margin-bottom: .2rem;
    margin-right: .1rem;
    font-size: .28rem;
    width: 2rem;
    border: 1px solid #eee;
    padding: .08rem .1rem;
}
.user-label .tags .add-l,
.user-label .tags .del-l
{
    margin-bottom: .2rem;
    padding: .08rem .2rem;
    border: 1px dashed #dcdcdc;
    font-size: .28rem;
    line-height: .28rem;
    color: #c0c0c0;
    background: #fff;
    color: #a6a9ac;
    margin-right: .1rem;
    display: inline-block;
}
.user-pay{
    width: 6rem;
    padding: .2rem;
    background: #fff;
    margin-top: .2rem;
}
.user-pay input[type=text]{
    border: 1px solid #eee;
    margin: 0 .2rem;
    width: 1.2rem;
    height: .3rem;
    color: #666;
    padding: .1rem;
    font-size: .28rem;
}
.ticket-step1 {
    min-height: -webkit-calc(100vh - .88rem);
    min-height: calc(100vh - .88rem);
}
.ticket-step1 textarea {
    display: block;
    width: 6.1rem;
    height: 1.9rem;
    margin-left: .3rem;
    border: 0;
    border-bottom: .02rem solid #ccc;
    background-color: transparent;
    box-sizing: border-box;
    font-size: .28rem;
    color: #333;
    padding: .32rem 0;
    padding-right: .3rem;
    border-radius: 0;
}
.user-ask-btn{
    padding: .2rem;
    text-align: right;
}
.user-ask-btn span{
    background: red;
    display: inline-block;
    padding: .12rem .4rem;
    border-radius: 2px;
    color: #fff;
}
.user-audio-btn{
    padding: .2rem;
    background: #fff;
}
.user-audio-btn .begin{
    width: 2.2rem;
    height: .5rem;
    line-height: .5rem;
    color: #fff;
    background: red;
    color: #fff;
    border-radius: .25rem;
}
.user-audio-btn .begin em{
    float: left;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAA6CAYAAADcKStOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTY0NjZCRTgyRURGMTFFN0JBMjBGOEY4MUQ0RkI1MjgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTY0NjZCRTkyRURGMTFFN0JBMjBGOEY4MUQ0RkI1MjgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4QzA3RERGRjJFREYxMUU3QkEyMEY4RjgxRDRGQjUyOCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4QzA3REUwMDJFREYxMUU3QkEyMEY4RjgxRDRGQjUyOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhqlwAYAAAJbSURBVHjazFntcYMwDCVMkBHYoGxQRsgGYYRuEDYIG4ROkHQC3AlCJ4g3wJmAmju3R4JlCwlidKc/HLaeracP21FEkK7r9lprrWetWbQG0UBO3VjSNYLqpVgjqF7yUKAKB6gqFKjdGkGlWttVgTLArgCoRut2bbxSWhPkHInWg9bjLPnOuBCSjEGDnAusBkCVyPE5MF5wQGXApBLDK89uXzjAblQXGk61Dm6mVFAsFziiWLHqqYNbGTOKWaASKi88vNpxI7GkTsyN4kHQHUa7C5BWLh3FQOdS+lxRLMlLVzvlI25K5KXggBoCE0Q3lowo/nAEzL8rSW0NkIwlMxFXPn7lxBSB4eXFuxmODjUjuoLKy4cojrVCEzWehVt7ss1m4xsH5cVCj1VDYBFgQHkM2Bb0jQjGveXbXdt74HQPLCMaeLN8k4hxtgWNAi1mVLHtVGCOSiDnBEYRNJ9fDQwtrwbWYHeSA+yOTSGISE9swGwF9524esx58weTQmJCBLmAYRZkq8Hb5xIYT/E7JjUg+nuoVT88lyQ5peQMREwsOX886+19AfaOz6uktj3SMu6GbHsUYPc0/FEQDSzeKM7dWtfI1rrytdacpk8wDyMVCMz8oIjuhI5vtwnHtwrcECZfxAwH3tTwLsXy5Rz0isAYaBa4VGnZLyeOa6iaubBZwEnmxZ1aBBw3yha76vREWcGkhOACm+s6Xc3+GOaJsikPEIVR/gMEIsquwZ5sHO4YtyeBwLmeBYODK9YMrnrl0zP6XKl79d74J/F8EGznwgMbZHZhriyzJWz8CjAAlV1ue+GEWiMAAAAASUVORK5CYII=") no-repeat;
    width: .2rem;
    height: .3rem;
    transform: rotate(180deg);
    margin: .1rem .2rem 0 .2rem;
    background-size: 100% 100%;
}
.user-audio-btn .begin span{
    float: right;
    color: #fff;
    font-size: .24rem;
    margin-right: .1rem;
}
.help-content{
    min-height: calc(100vh - .88rem);
    width: 6.4rem;
    height: 5.4rem;
    background: #fff;

}
.help-content .pic{
    background:url("../img/help-pic.jpg") no-repeat;
    background-size: 100% 100%;
    width: 6rem;
    height: 5.09rem;
    margin: 0 auto;
    padding-top: .5rem;

}