/*首页*/
.banner img{width: 100%;}
.home_list{padding: 0.1rem;margin-bottom: 0.1rem;background: #fff;}
.home_list:last-child{margin-bottom: 0;}
.home_list_title{color: #333;font-size: 0.16rem;margin-bottom: 0.2rem;line-height: 0.24rem;}
.home_list_info{margin-bottom: 0.1rem;color: #ccc;}
.home_list_info span{padding-right: 0.05rem;margin-right: 0.05rem;line-height: 0.16rem;font-size: 0.14rem;border-right: 1px solid #666;}
.home_list_info ul li{margin-right: 0.05rem;font-size: 0.14rem;line-height: 0.16rem;}
.home_himg{width: 0.4rem;height: 0.4rem;border-radius: 50%;margin-right: 0.1rem;}
.home_yuyin{height: 0.4rem;width: 2.5rem;box-sizing: border-box;line-height: 0.4rem;padding: 0 0.2rem;font-size: 0.12rem;background: red;color: #fff;}
.home_yuyin img{width: 0.2rem;height: 0.2rem;margin-top: 0.1rem;}
.home_list_ask{margin-bottom: 0.1rem;}
.home_date{font-size: 0.12rem;color: #666;width: 2.8rem;}

/*导航*/
.nav{position: fixed;bottom: 0;width: 100%;background: #fff;z-index: 100;}
.nav a{color: #333;width: 33.3%;line-height: 0.5rem;font-size: 0.18rem;}
.nav .nav-active{color: red;}


/*专家列表页*/
.expert_list{padding: 0.1rem 0.2rem;background: #fff;margin-bottom: 0.1rem;}
.expert_list:last-child{margin-bottom: 0;}
.expert_himg{width: 0.5rem;height: 0.5rem;border-radius: 50%;margin-right: 0.2rem;margin-top: 0.16rem;}
.expert_info_list1 span{font-size: 0.16rem;margin-right: 0.05rem;line-height: 0.28rem;}
.expert_info_list1 .expert_biaoqian{border: 1px solid green;color: green;box-sizing: border-box;padding:0 0.05rem;border-radius: 0.04rem;}
.expert_info_list1{margin-bottom:0.1rem ;}
.expert_info_list2{margin-bottom:0.1rem ;}
.expert_info_list3 span{color: #ccc;line-height: 0.16rem;font-size: 0.12rem;}
.expert_info_list3 span:first-child{border-right: 1px solid #666;padding-right: 0.05rem;margin-right: 0.05rem;}

/*专家详情页*/
.expertDetail_top{padding:0.2rem;background: #fff;border-bottom: 1px solid #666;}
.expertDetail_img{width: 0.4rem;height: 0.4rem;border-radius: 50%;margin-right: 0.1rem;margin-top: 0.15rem;}
.expertDetail_info span{margin-bottom: 0.1rem;display: inline-block;}	
.expertDetail_biaoqian{margin-bottom: 0.1rem;}
.expertDetail_biaoqian li{margin-right: 0.05rem;line-height: 0.16rem;padding: 0 0.05rem;font-size: 0.12rem;color:green;border: 1px solid green;}
.expertDetail_work li{color: #ccc;margin-right: 0.05rem;}
.expertDetail_ask div{color: red;margin-bottom: 0.05rem;}
.expertDetail_ask a{padding: 0 0.1rem;color: #fff;line-height: 0.2rem;display: inline-block;background: red;font-size: 0.12rem;border-radius: 0.04rem;}

.expertDetail_guanzhu{background: #fff;font-size: 0.14rem;padding: 0 0.2rem;margin-bottom: 0.1rem;}
.expertDetail_guanzhu .is_guanzhu{color: red;border: 1px solid red;border-radius: 0.04rem;line-height: 0.2rem;padding: 0 0.05rem;margin-top: 0.15rem;margin-right: 0.1rem;}
.expertDetail_guanzhu .much_guanzhu{color: #ccc;line-height: 0.5rem;}
.expertDetail_guanzhu ul{margin-top: 0.15rem;}
.expertDetail_guanzhu ul li img{width: 0.2rem;height: 0.2rem;border-radius: 50%;margin-right: 0.05rem;}
