<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的回答</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="__PUBLIC__/css/base.css" />
    <link rel="stylesheet" href="__PUBLIC__/iconfont/iconfont.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/myask-list.css" />
    <script src="__PUBLIC__/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        if (deviceWidth > 640) deviceWidth = 640;
        document.documentElement.style.fontSize = deviceWidth / 6.4 + 'px';
    </script>
</head>
<body><header>
<div class="btn-group-top">
    <div class="back iconfont icon-arrowleft" onclick="javascript:history.go(-1);"></div>
</div>
    <div class="title">我的回答</div>
</header>
<div class="answer-list">
    <volist name="list" id="data">
        <if condition="$data['is_reply'] eq 0">
        <div class="item">
            <a href="#">
                <div class="info">
                    <img src="{$data.head_url}" alt="">
                    <span>你没有回答{$data.username}的问题</span>
                </div>
                <div class="ask">{$data.content}</div>
            </a>
            <div class="tags gotoask" data-qid="{$data['id']}" style="color:red">去回答</div>
        </div>
        <else/>
            <div class="item">
                <a href="#">
                    <div class="info">
                        <img src="{$data.head_url}" alt="">
                        <span>你回答了{$data.username}的问题</span>
                    </div>
                    <div class="ask">{$data.content}</div>
                </a>
                <div class="tags">已回答</div>
                <div class="user-audio-btn">
                    <div  data-url="{$data.voice_url}" class="begin play"><em></em><b>播放答案</b><span>34"</span></div>
                </div>
            </div>
            </if>
    </volist>
</div>
<div class="footer-nav hbox">
    <a class="flex1 course ">
        <i class="iconfont icon-home"></i>
        <p>首页</p>
    </a>
    <a class="flex1 tutor ">
        <i class="iconfont icon-wodelaoshi"></i>
        <p>专家</p>
    </a>
    <a href="javascript:;" class="flex1 user active">
        <i class="iconfont icon-meminus"></i>
        <p>我的</p>
    </a>
</div>
</body>


<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: true,
        appId: '{$signPackage["appId"]}',
        timestamp: '{$signPackage["timestamp"]}',
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
        // 所有要调用的 API 都要加到这个列表中
//      'checkJsApi',
//      'onMenuShareTimeline',
//      'onMenuShareAppMessage',
//      'onMenuShareQQ',
//      'onMenuShareWeibo',
//      'onMenuShareQZone',
//      'hideMenuItems',
//      'showMenuItems',
//      'hideAllNonBaseMenuItem',
//      'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onVoiceRecordEnd',
        'playVoice',
        'onVoicePlayEnd',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice'
//      'chooseImage',
//      'previewImage',
//      'uploadImage',
//      'downloadImage',
//      'getNetworkType',
//      'openLocation',
//      'getLocation',
//      'hideOptionMenu',
//      'showOptionMenu',
//      'closeWindow',
//      'scanQRCode',
//      'chooseWXPay',
//      'openProductSpecificView',
//      'addCard',
//      'chooseCard',
//      'openCard'
    ]
    });
</script>

</html>

<script type="text/javascript">


    var AJAX_URL = '__APP__';


    var i = 0;
    var timer = ""
    var length =0;//语音长度
    var voice ={}
    var j = 0;
    $('.gotoask').click(function() {
        var gotaskhandle = $(this);
        gotaskhandle.html('结束回答');
        var qid = gotaskhandle.attr('data-qid');
        i++;
        if(i % 2 == 1) {
            timer = setInterval(function() {
                j++;
                if(j >= 60) {
                    length = j;
                    clearInterval(timer);
                    wx.stopRecord({
                        success: function(res) {
                            alert(length)
                            voice.localId = res.localId;
                            wx.uploadVoice({
                                localId: voice.localId,
                                success: function (res) {
                                    //上传成功
                                    gotaskhandle.html('已回答').removeClass('gotoask')
                                    answer(qid,res.serverId,length);
                                    voice.serverId = res.serverId;
                                }
                            });
                        },
                        fail: function(res) {
                            alert(JSON.stringify(res));
                        }
                    });
                }

            }, 1000)
            wx.startRecord({
                cancel: function() {
                    alert('用户拒绝授权录音');
                }
            });
        } else if(i % 2 == 0) {
            clearInterval(timer);
            wx.stopRecord({
                success: function(res) {
                    voice.localId = res.localId;
                    wx.uploadVoice({
                        localId: voice.localId,
                        success: function (res) {
                            //上传成功
                            answer(qid,res.serverId,length);
                            gotaskhandle.html('已回答').removeClass('gotoask');
                            voice.serverId = res.serverId;
                        }
                    });
                },
                fail: function(res) {
                    alert(JSON.stringify(res));
                }
            });
        }
        length = j;
        j = 0;
    });

    function answer(qid,voice_url,duration){
        $.post(
            AJAX_URL+"/Question/answer",
            {q_id:qid,voice_url:voice_url,duration:duration},
            function(data){
                if(data.status == '101'){
                    location.href = AJAX_URL;
                }else{
                    window.location.reload();
                }
            });

    }


    $('.play').click(function  () {
        var serverId = $(this).attr('data-url');
        if(!serverId){
            alert('播放失败');
            return '';
        }
        wx.downloadVoice({
            serverId: serverId,
            success: function (res) {
//		        alert('下载语音成功，localId 为' + res.localId);
                voice.localId = res.localId;
                if (voice.localId == '') {
                    alert('请先使用 startRecord 接口录制一段声音');
                    return;
                }
                wx.playVoice({
                    localId: voice.localId
                });
            }
        });
    })

</script>
