<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=yes">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" href="__PUBLIC__/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<title>首页</title>
	</head>

	<body>
		<div class="banner">
			<img src="__PUBLIC__/img/timg.jpg" alt="" />
		</div>

		<div style="padding-bottom: 0.6rem;">
			<ul>
				<li class="home_list">
					<p class="home_list_title">问我若破位认可我我让我认为人外人看我</p>
					<div class="home_list_ask">
						<img class="home_himg left" src="" alt="" />
						<div class="home_yuyin left is-center">
							<img class="left" src="" alt="" />
							<span>一元刮开看看</span>
							<span class="right">00:49</span>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="home_date">
						<span class="left">就天前</span>
						<span class="right">0人听过</span>
						<div class="clear"></div>
					</div>
				</li>
				
				<li class="home_list">
					<p class="home_list_title">问我若破位认可我我让我认为人外人看我</p>
					<div class="home_list_ask">
						<img class="home_himg left" src="" alt="" />
						<div class="home_yuyin left is-center">
							<img class="left" src="" alt="" />
							<span>一元刮开看看</span>
							<span class="right">00:49</span>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="home_date">
						<span class="left">就天前</span>
						<span class="right">0人听过</span>
						<div class="clear"></div>
					</div>
				</li>

				<li class="home_list">
					<p class="home_list_title">问我若破位认可我我让我认为人外人看我</p>
					<div class="home_list_ask">
						<img class="home_himg left" src="" alt="" />
						<div class="home_yuyin left is-center">
							<img class="left" src="" alt="" />
							<span>一元刮开看看</span>
							<span class="right">00:49</span>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="home_date">
						<span class="left">就天前</span>
						<span class="right">0人听过</span>
						<div class="clear"></div>
					</div>
				</li>

				<li class="home_list">
					<p class="home_list_title">问我若破位认可我我让我认为人外人看我</p>
					<div class="home_list_ask">
						<img class="home_himg left" src="" alt="" />
						<div class="home_yuyin left is-center">
							<img class="left" src="" alt="" />
							<span>一元刮开看看</span>
							<span class="right">00:49</span>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="home_date">
						<span class="left">就天前</span>
						<span class="right">0人听过</span>
						<div class="clear"></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="nav">
			<a class="left is-center nav-active" href="index.html">首页</a>
			<a class="left is-center" href="expert.html">专家</a>
			<a class="left is-center" href="user.html">我的</a>
			<div class="clear"></div>
		</div>
	</body>

</html>