<!DOCTYPE html>
<html lang="en">
<include file="Public:header" />
<body>
<div class="user-info-display clearfix">
    <div class="top-t">
        <div class="avatar">
            <img src="{$userInfo.head_url}">
        </div>
        <div class="info">
            <p class="row">
                <span>{$userInfo.username}</span></p>
            <div class="row">
                已回答{$userInfo.answerNums}个问题，收入<em>￥{$userInfo.wallet}元</em>
            </div>
        </div>
    </div>
    <div class="sign">签名：{$userInfo.brief}</div>

</div>
<div class="user-nav-list ">
    <div class="user-nav">
        <a href="/myqa/question/">
            <span class="iconfont icon-issue"></span><b>我的提问</b><span class="iconfont icon-arrow"></span>
        </a>
        <a href="/myqa/answer">
            <span class="iconfont icon-chaticon"></span><b>我的回答</b><span class="iconfont icon-arrow"></span>
        </a>
    </div>
    <div class="user-nav">
        <a href="/ucenter/edit/">
            <span class="iconfont icon-profile"></span><b>个人设置</b><span class="iconfont icon-arrow"></span>
        </a>
        <a href="/feedback/">
            <span class="iconfont icon-feedback"></span><b>帮助</b><span class="iconfont icon-arrow"></span>
        </a>
    </div>
    <!--<div class="user-nav logout"><a href="javascript:">退出登录</a></div>-->
</div>
<include file="Public:footer" />
</body>
</html>