<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开始提问</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="iconfont/iconfont.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/myask-list.css" />
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        if (deviceWidth > 640) deviceWidth = 640;
        document.documentElement.style.fontSize = deviceWidth / 6.4 + 'px';
    </script>
</head>
<body>
<header>
    <div class="btn-group-top">
        <div class="back iconfont icon-arrowleft" onclick="javascript:history.go(-1);"></div>
    </div>
    <div class="title">开始提问</div>
</header>
<div class="ticket-step1">
    <input type="text" title="标题" placeholder="请输入你的问题" class="input-title cookie_title" value="">
    <div class="user-ask-btn">
        <span>提问</span>
    </div>
</div>
</body>
</html>